<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>영화 순위</title>
</head>
<body>
<h1>영화 순위</h1>

<form action="/movies/daily-box-office" method="get">
  <input type="text" name="date" placeholder="날짜 입력 (예: 20240331)">
  <button type="submit">조회</button>
</form>

<table border="1">
  <tr>
    <th>순위</th>
    <th>영화 제목</th>
    <th>누적 관객 수</th>
    <th>누적 매출액</th>
  </tr>
  <tr th:each="movie : ${movieData.boxOfficeResult.dailyBoxOfficeList}">
    <td th:text="${movie.rank}"></td>
    <td th:text="${movie.movieNm}"></td>
    <td th:text="${#numbers.formatInteger(movie.audiAcc, 3, 'COMMA') + ' 명'}"></td>
    <td th:text="${#numbers.formatInteger(movie.salesAcc, 3, 'COMMA') + ' 원'}"></td>
  </tr>
</table>

<a href="/">홈으로 돌아가기</a>
</body>
</html>
